.card-custom {
  height: 100%;
  margin-top: 100px;
}

.aspect-ratio-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 150%; /* Adjust the padding value to achieve the desired aspect ratio */
  overflow: hidden;
}

.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-button {
  color: white;
  font-weight: bold;
  max-width: 200px;
  max-height: 50px,
}

.card-title {
  font-size:23px;
  text-align: center;
  margin-bottom: 15px;
}