.card-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  //object-fit: fill;
}

.aspect-ratio-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 150%; /* Adjust the padding value to achieve the desired aspect ratio */
  overflow: hidden;
}

/*.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/

.movie-view-title {
  font-weight: bold;
  margin-top: 10px; /* Adjust the margin as needed */
}

.movie-view-description {
  margin-top: 10px; /* Adjust the margin as needed */
}

.back-button {
  color: white;
  font-weight: bold;
  max-width: 200px;
  max-height: 50px;
}

.btn-primary {
  color: white;
  font-weight: bold;
}
