.card-view {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-view-image {
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  object-fit: cover;
}

.movie-view-title {
  font-weight: bold;
  margin-top: 10px; /* Adjust the margin as needed */
}

.movie-view-description {
  margin-top: 10px; /* Adjust the margin as needed */
}

.back-button {
  color: white;
  font-weight: bold;
  max-width: 200px;
  max-height: 50px;
}
